
<div class="flex w-full">
    <div class="relative min-w-fit hidden lg:flex">
        <aside class="font-[Akko] flex flex-col h-screen relative justify-between bg-black/20 min-w-fit">
            <div>
                <div class="py-4 border-b border-white/10 inline-flex items-center">
                    <img class="rounded-full w-16 mx-2" src="/assets/images/logo_with_bg.jpg" alt="" />
                    <div class="text-white mx-2">
                        <p> {{ userSource["name"] }}</p>
                        <p class="text-xs text-white/50"> {{ userSource["email"] }} </p>
                    </div>
                </div>
                <ul class="my-2">
                    <a [routerLink]="menuValues[2]" routerLinkActive="true" class="flex items-center gap-2 mx-4 rounded-lg px-2 py-2 text-[#c8c8c8] group hover:bg-white/10 hover:text-white duration-150" *ngFor="let menuValues of sidebarMenus">
                        <img class="w-5" [src]="menuValues[1]" alt="" />
                        <span class="font-medium ml-2"> {{ menuValues[0] }} </span>                  
                    </a>
                </ul>
            </div>
            <div (click)="userLogout()" class="cursor-pointer flex px-6 items-center py-4 border-t border-white/10">
                <svg class="w-6" fill="#C42329" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>
                <span class="text-[#C42329] ml-2">Kijelentkezés</span>
            </div>
            
        </aside>
    </div>
    <!-- MOBILE -->
    <div class="relative mt-0 lg:hidden">
        <nav class="w-full flex items-center justify-between fixed left-0 top-0 bg-black/60 z-[100] px-6 py-2">
            <img class="h-12" src="/assets/images/logo.png" alt="" />
            <div (click)="showMobileNavBar=!showMobileNavBar" class="w-6 h-0.5 bg-white relative
                before:w-6 before:h-0.5 before:content-[''] before:absolute before:translate-y-2 before:bg-white
                after:w-6 after:h-0.5 after:content-[''] after:absolute after:-translate-y-2 after:bg-white transition-all duration-300 before::transition-all after:duration-300 before::transition-all after:duration-300
            " [ngClass]="{'after:opacity-0 after:-rotate-45 rotate-45 after:-translate-y-[0px] before:translate-y-[0px]  before:-rotate-90': showMobileNavBar === true}">
            </div>
        </nav>
    </div>
    <div [ngClass]="{'translate-x-full': showMobileNavBar === true}" class="lg:hidden min-w-fit flex flex-col justify-between fixed right-full top-0 bg-black/80 min-h-screen transition-all duration-300 z-[200]">
        <div>
            <div class="py-4 border-b border-white/10 inline-flex items-center">
                <div class=" w-16 mx-2">
                    <img class="rounded-full" src="/assets/images/logo_with_bg.jpg" alt="" />
                </div>                   
                <div class="text-white mx-2">
                    <p> {{ userSource["name"] }}</p>
                    <p class="text-xs text-white/50"> {{ userSource["email"] }} </p>
                </div>
            </div>
            <ul class="my-2">
                <a (click)="showMobileNavBar = false" [routerLink]="menuValues[2]" routerLinkActive="true" class="flex items-center gap-2 mx-4 rounded-lg px-2 py-2 text-[#c8c8c8] group hover:bg-white/10 hover:text-white duration-150" *ngFor="let menuValues of sidebarMenus">
                    <img class="w-5" [src]="menuValues[1]" alt="" />
                    <span class="font-medium ml-2"> {{ menuValues[0] }} </span>                  
                </a>
            </ul>
        </div>
        <div (click)="userLogout()" class="cursor-pointer flex px-6 items-center py-4 border-t border-white/10">
            <svg class="w-6" fill="#C42329" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>
            <span class="text-[#C42329] ml-2">Kijelentkezés</span>
        </div>
    </div>
    <router-outlet></router-outlet>  
</div>  


